body {
    padding: 30px;
    background: #5bc0de/*#007aff*/;
}
.italics {
    font-style: italic;
}
/*.background-draw {
    /*padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    /*background-color: rgb(240, 251, 142);*
    border-radius: 10px 10px;*
}
.background-draw h3 {
    text-align: center;
    color: #000000;    
}
.background-draw p.center {
    text-align: center;
    color: #000000;
}*/
.underlineText {
    text-decoration: underline;
}
.largeTextTwenty {
    font-size: 20px;
}
.centerText {
    text-align: center;
}
.leftText {
    text-align: left;
}
button {
    cursor: pointer;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.jumbotron {
    background-color: #5bc0de;
    text-align: left;
}
.sideBar {
    margin: 0;
    padding: 0;
    height: 100%;
}
.navbar {
    position: fixed;
    height: 100%;
    width: 20%;
    top: 0;
    left: 0;
    background-color: crimson;
    overflow: hidden;
    -webkit-transform: translate(-100%, 0);
    -webkit-transition: all 1s ease;
}
.navbar a {
    text-align: left;
    display: block;
    padding: 20px 5px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    border-bottom: 1px solid rgba(81, 120, 147, 0.54);
}